{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "standard",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "object-shorthand": "off",
    // "import/prefer-default-export": 0,
    "quotes": ["warn", "single"],
    "no-console": "warn",
    "prettier.semi": 0,
    "react/prop-types": "off"
  }
}
